---
- name: "[ {{ ivsg.vserver_groups.0.id }} - {{ listener.protocol | upper }}:{{ listener.port }} ] Creating Listener"
  ali_slb_listener:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    vserver_group_id: '{{ ivsg.vserver_groups.0.id }}'
    protocol: '{{ listener.protocol }}'
    listener_port: '{{ listener.port }}'
    backend_server_port: '{{ listener.backend_port }}'
    scheduler: '{{ listener.algorithm }}'
    bandwidth: '-1'
    health_check: '{{ listener.health_check.status | default("off", true) }}'
    health_check_type: '{{ listener.health_check.type | default("tcp", true) }}'
    health_check_http_code: '{{ listener.health_check.http_code | default("http_2xx", true) }}'
    health_check_connect_port: '{{ listener.health_check.port | default(listener.backend_port, true) }}'
    state: present
  when:
    - listener.certificate_id is not defined
  register: clistener

- name: "[ {{ ivsg.vserver_groups.0.id }} - {{ listener.protocol | upper }}:{{ listener.port }} ] Creating Listener With Certificate"
  ali_slb_listener:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    vserver_group_id: '{{ ivsg.vserver_groups.0.id }}'
    server_certificate_id: '{{ listener.certificate_id }}'
    protocol: '{{ listener.protocol }}'
    listener_port: '{{ listener.port }}'
    backend_server_port: '{{ listener.backend_port }}'
    scheduler: '{{ listener.algorithm }}'
    bandwidth: '-1'
    health_check: '{{ listener.health_check.status | default("off", true) }}'
    health_check_type: '{{ listener.health_check.type | default("tcp", true) }}'
    health_check_http_code: '{{ listener.health_check.http_code | default("http_2xx", true) }}'
    health_check_connect_port: '{{ listener.health_check.port | default(listener.backend_port, true) }}'
    state: present
  when:
    - listener.certificate_id is defined
  register: clistener
