---
- name: "[ {{ ivsg.vserver_groups.0.id }} - {{ listener.protocol | upper }}:{{ listener.port }} ] Destroying Listener"
  ali_slb_listener:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    vserver_group_id: '{{ ivsg.vserver_groups.0.id }}'
    protocol: '{{ listener.protocol }}'
    listener_port: '{{ listener.port }}'
    state: absent
