---
- name: "[ {{ vpc.name }} - {{ vpc.cidr }} ] Gathering VPC Facts"
  ali_vpc_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    name_prefix: '{{ vpc.name }}'
    cidr_prefix: '{{ vpc.cidr }}'
    tags: '{{ tags }}'
    filters:
      is_default: false
  register: ivpc

- name: "[ {{ slb.vswitch.name }} ] Gathering VSwitch Facts"
  ali_vswitch_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    vswitch_name: '{{ slb.vswitch.name }}'
    tags: '{{ tags }}'
    filters:
      vpc_id: '{{ ivpc.vpcs.0.id }}'
      zone_id: '{{ slb.zone.zone_1 }}'
  register: ivsw

- name: "[ {{ slb.name }} ] Gathering SLB Facts"
  ali_slb_lb_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    name_prefix: '{{ slb.name }}'
    tags: '{{ tags }}'
    filters:
      vpc_id: '{{ ivpc.vpcs.0.id }}'
      vswitch_id: '{{ ivsw.vswitches.0.id }}'
      master_zone_id: '{{ slb.zone.zone_1 }}'
      slave_zone_id: '{{ slb.zone.zone_2 }}'
  register: islb

- name: "[ {{ islb.load_balancers.0.id }} - {{ vsg.name }} ] Gathering VSG Facts"
  ali_slb_vsg_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    name_prefix: '{{ vsg.name }}'
  register: ivsg

- name: "[ {{ ivsg.vserver_groups.0.id }} - {{ vsg.listener.protocol | upper }}:{{ vsg.listener.port }} ] Gathering Listener Facts"
  ali_slb_listener_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    listener_type: '{{ vsg.listener.protocol }}'
    listener_port: '{{ vsg.listener.port }}'
  register: ilistener
