---
- name: "[ {{ vpc.name }} - {{ vpc.cidr }} ] Gathering VPC Facts"
  ali_vpc_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    name_prefix: '{{ vpc.name }}'
    cidr_prefix: '{{ vpc.cidr }}'
    tags: '{{ tags }}'
    filters:
      is_default: false
  register: ivpc

- name: "[ {{ slb.vswitch.name }} ] Gathering VSwitch Facts"
  ali_vswitch_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    vswitch_name: '{{ slb.vswitch.name }}'
    tags: '{{ tags }}'
    filters:
      vpc_id: '{{ ivpc.vpcs.0.id }}'
      zone_id: '{{ slb.zone.zone_1 }}'
  register: ivsw

- name: "[ {{ slb.name }} ] Gathering SLB Facts"
  ali_slb_lb_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    name_prefix: '{{ slb.name }}'
    tags: '{{ tags }}'
    filters:
      vpc_id: '{{ ivpc.vpcs.0.id }}'
      vswitch_id: '{{ ivsw.vswitches.0.id }}'
      master_zone_id: '{{ slb.zone.zone_1 }}'
      slave_zone_id: '{{ slb.zone.zone_2 }}'
  register: islb

- name: "[ {{ islb.load_balancers.0.id }} - {{ vsg.name }} ] Gathering VSG Facts"
  ali_slb_vsg_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    name_prefix: '{{ vsg.name }}'
  register: ivsg

- name: "[ {{ islb.load_balancers.0.id }} - {{ vsg.name }} ] Gathering VSG ECS Backend Facts"
  ali_instance_info:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    instance_names: '{{ ecs.name }}'
    tags: '{{ tags }}'
    filters:
      vpc_id: '{{ ivpc.vpcs.0.id }}'
  loop: '{{ vsg.backend | flatten(levels=1) }}'
  loop_control:
    loop_var: ecs
  register: iecs

- name: "[ {{ islb.load_balancers.0.id }} - {{ vsg.name }} ] Rebuilding VSG ECS Backend Facts"
  vars:
    vsg_backend_list: []
  set_fact:
    vsg_backend_list: '{{ vsg_backend_list + [{ "type":"ecs", "server_id":item.instances.0.id, "port":item.ecs.port, "weight":item.ecs.weight }] }}'
  loop: '{{ iecs.results | flatten(levels=1) }}'
