---
- name: "[ {{ slb.name }} ] Creating SLB"
  ali_slb_lb:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    vswitch_id: '{{ ivsw.vswitches.0.id }}'
    load_balancer_name: '{{ slb.name }}'
    spec: '{{ slb.type }}'
    master_zone_id: '{{ slb.zone.zone_1 }}'
    slave_zone_id: '{{ slb.zone.zone_2 }}'
    is_internet: false
    tags: '{{ tags }}'
    state: present
  when:
    - islb.load_balancers.0.id is not defined
  register: cslb

- name: "[ {{ slb.name }} ] Creating SLB Subtask VSG"
  include_role:
    name: slb_vsg
  loop: '{{ slb.vsg | flatten(levels=1) }}'
  loop_control:
    loop_var: vsg
  when:
    - slb.vsg is defined

- name: "[ {{ slb.name }} ] Creating SLB Subtask Listener"
  include_role:
    name: slb_listener
  loop: '{{ slb.listener | flatten(levels=1) }}'
  loop_control:
    loop_var: listener
  when:
    - slb.listener is defined

- name: "[ {{ slb.name }} ] Creating SLB Subtask EIP"
  include_role:
    name: eip
  vars:
    type: slb
  when:
    - slb.eip is defined
