---
- name: "[ {{ slb.name }} ] Destroying SLB - Configuring VSG"
  include_role:
    name: slb_vsg
  loop: '{{ slb.vsg | flatten(levels=1) }}'
  loop_control:
    loop_var: vsg
  when:
    - slb.vsg is defined

- name: "[ {{ slb.name }} ] Destroying SLB"
  ali_slb_lb:
    alicloud_access_key: '{{ access_key }}'
    alicloud_secret_key: '{{ secret_key }}'
    alicloud_region: '{{ region }}'
    load_balancer_id: '{{ islb.load_balancers.0.id }}'
    load_balancer_name: '{{ slb.name }}'
    state: absent
  when:
    - islb.load_balancers.0.id is defined
